
@{
    ViewBag.Title = "Sign Into App";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string ValClass(string field)
    {
        return ViewData.ModelState.IsValidField(field) ? "d-none" : "";
    }

    string IsCodeActive()
    {
        return ViewData.ModelState.IsValid || !ViewData.ModelState.IsValid("UserCode") ? "active" : "";
    }

    string IsAuthActive()
    {
        return string.IsNullOrEmpty(IsCodeActive()) ? "active" : "";
    }
}

<span>
    <img src="~/Content/flag.jpg" alt="Mesabrook Flag" width="91" height="48" class="float-right" />
    <h1 class="h1">Sign into Mesabrook</h1>
</span>

<form method="post" autocomplete="off">

    <div id="mainContent" class="coursel slide" data-pause="true">
        <div class="carousel-inner">
            <div class="carousel-item @IsCodeActive() border border-info p-1">
                <div class="m-auto text-center">
                    <label style="font-size:1.75em" for="UserCode">Enter the code provided from the app</label>
                    <input id="UserCode" type="text" class="form-control" name="UserCode" />
                    <label style="font-size:1.25em" id="UserCodeVal" class="text-danger @ValClass("UserCode")">@Html.ValidationMessage("UserCode")</label>
                </div>

                <div class="text-right mt-2">
                    <button class="btn btn-info" type="button" onclick="next();">Next ➡</button>
                </div>
            </div>

            <div class="carousel-item @IsAuthActive()">
                <div class="border border-info p-1 mt-2">
                    <div class="form-group">
                        <label for="Username">Mesabrook Username</label>
                        <input type="text" class="form-control" name="Username" />
                        <label class="text-danger @ValClass("UserCode")">@Html.ValidationMessage("Username")</label>
                    </div>
                    <div class="form-group">
                        <label for="Password">Mesabrook Password</label>
                        <input type="password" class="form-control" name="Password" />
                        <label class="text-danger @ValClass("UserCode")">@Html.ValidationMessage("Password")</label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-info mt-1" type="button" onclick="prev();">⬅ Back</button>
                    <button class="btn btn-success mt-1 float-right" type="button" onclick="submit();">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/ui.device.js"></script>
}